[submodule ".vim/bundle/lingr-vim"]
	path = .vim/bundle/lingr-vim
	url = git://github.com/tsukkee/lingr-vim.git
[submodule ".vim/bundle/quickrun"]
	path = .vim/bundle/quickrun
	url = git://github.com/ujihisa/quickrun.git
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = git://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/vim-ref"]
	path = .vim/bundle/vim-ref
	url = git://github.com/thinca/vim-ref.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/unite-outline"]
	path = .vim/bundle/unite-outline
	url = https://github.com/h1mesuke/unite-outline.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/unite-tag"]
	path = .vim/bundle/unite-tag
	url = git://github.com/tsukkee/unite-tag.git
[submodule ".vim/bundle/vimdoc-ja"]
	path = .vim/bundle/vimdoc-ja
	url = git://github.com/vim-jp/vimdoc-ja.git
[submodule ".vim/bundle/info.vim"]
	path = .vim/bundle/info.vim
	url = git://github.com/vim-scripts/info.vim
[submodule ".vim/bundle/current-func-info.vim"]
	path = .vim/bundle/current-func-info.vim
	url = git://github.com/tyru/current-func-info.vim
[submodule ".vim/bundle/vcscommand"]
	path = .vim/bundle/vcscommand
	url = git://repo.or.cz/vcscommand.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-symfony"]
	path = .vim/bundle/vim-symfony
	url = git://github.com/soh335/vim-symfony.git
[submodule ".vim/bundle/vim-unite-svn"]
	path = .vim/bundle/vim-unite-svn
	url = git://github.com/kmnk/vim-unite-svn.git
[submodule ".vim/bundle/vinarise"]
	path = .vim/bundle/vinarise
	url = git://github.com/Shougo/vinarise.git
[submodule ".vim/bundle/unite-colorscheme"]
	path = .vim/bundle/unite-colorscheme
	url = git://github.com/ujihisa/unite-colorscheme.git
