#!/bin/bash

# GDMでgnome sessionで開始すると、
# 1. .xprofile
# 2. /usr/bin/gnome-wm(ここでwindow manager起動)
# 3. gnome-session開始
# となる。 
# なお、xsessionだと
# 3が.xsessionとなる。
# とりあえず、xprofileを使うように環境を寄せてみる。
#
# 参考: http://d.hatena.ne.jp/moriyoshi/20070504

#. ~/.bashrc
#/usr/bin/urxvtd -q -f -o
#/usr/bin/uim-toolbar-gtk-systray &

# xmodmap ~/.Xmodmap
#export WINDOW_MANAGER=metacity
#export WINDOW_MANAGER=twm
#export WINDOW_MANAGER=e16

GTK_IM_MODULE=uim
QT_IM_MODULE=uim
XMODIFIERS=@im=uim

nohup /usr/bin/uim-toolbar-gtk3 &
nohup /usr/bin/dropbox &
nohup /usr/bin/flameshot &
